{% extends "base.html" %}

{% block nav %}

<h1>Vamos cuidar da saúde?</h1>
<p>Vamos tratar em um fator bem importe para nossa saúde, o famoso Indeci de Massa Corporal (IMC) </p>
<h2>Como calcular o IMC?</h2>
<p>
    Para calcularmos o IMC é necessario ter as seguintes informações: Altura e Peso <br>
    Tendo esssas informações, podemos prosseguir e fazer o calculo!
</p>
<p>
    A formula do calculo do IMC é: <strong>peso / (altura)²</strong>
</p>
<h2>Mas o que é IMC? e para que ele server? </h2>
<p>O IMC é o cálculo que demonstra se o indivíduo está ou não em seu peso ideal. Esse índice é importante para avaliar
    os riscos de obesidade e desnutrição. <br>
    Além disso, devisse para cada caso uma determinada dieta para que possa estar no peso ideal e não ter riscos a saúde
</p>

<h2>Quais são os riscos de esta acima do peso ideal?</h2>
<p>
    A obesidade pode aumentar os riscos de uma pessoa desenvolver problemas de saúde, incluindo colesterol alto, doenças
    articulares, apneia do sono, entre outras, inclusive as causadas pelo sobrepeso.
</p>
<h2>Qual a diferença de obesidade e sobrepeso</h2>
<p>
    Embora as condições de sobrepeso e obesidade sejam semelhantes em termos de envolverem excesso de peso, elas diferem
    em grau e risco para a saúde.
</p>
<p>
    Em geral, quanto maior o IMC, maior o risco de problemas de saúde relacionados ao peso. É importante lembrar que
    tanto o sobrepeso quanto a obesidade podem ser tratados e prevenidos por meio de mudanças de estilo de vida, como
    manter uma dieta equilibrada e fazer exercícios físicos regularmente.
</p>
<p>
    Sabendo da impotancia em saber o peso ideal. <a href="/pagina">Aperte aqui para calcular seu IMC</a>
</p>

<p>isso é apenas para testar se estar okay as coisas, antes de começar de fato</p>

{% endblock %}